@using BookManagementWebApp.Dtos
@model List<AuthorDto>

<h3>Authors</h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Books</th>
      <th scope="col">Actions</th>
      
    </tr>
  </thead>
  <tbody>
      @foreach (AuthorDto author in @Model)
        {
        <tr>
          <td>@author.Id</td>
          <td>@author.Name</td>
          <td>@String.Join("; ",@author.Books.Select(b => b.Name)) </td>
          <td>@Html.ActionLink("Remove", "Delete", "Author", new { Id = @author.Id}, new { @class = "btn btn-primary"})</td>
        </tr>
        }
    
    
  </tbody>
</table>