@model ShopItem

<h2>Add an item</h2>

@using (Html.BeginForm("Add", "Shop", FormMethod.Post)) //action name, controller, method
{
    @Html.LabelFor(a => a.Name)
    @Html.TextBoxFor(a => a.Name)

    @Html.LabelFor(a => a.ShopName)
    @Html.TextBoxFor(a => a.ShopName)

    @Html.LabelFor(a => a.ExpiryDate)
    @Html.TextBoxFor(a => a.ExpiryDate)
        
    <input type="submit" value="Submit"/>
}