@using ShopManagementWebApp.Dtos
@model CreateShopDto

<h2>Add an item</h2>

@using (Html.BeginForm("Add", "Shop", FormMethod.Post)) //action name, controller, method
{
    @Html.LabelFor(a => a.Item.Name)
    @Html.TextBoxFor(a => a.Item.Name)

    @Html.LabelFor(a => a.Item.ShopName)
    @Html.TextBoxFor(a => a.Item.ShopName)

    @Html.LabelFor(a => a.Item.ExpiryDate)
    @Html.TextBoxFor(a => a.Item.ExpiryDate)

    @Html.LabelFor(a => a.Item.UserId)
    @Html.DropDownListFor(a => a.Item.UserId, new SelectList(@Model.Users, "Id", "Name"))

    <input type="submit" value="Submit"/>
}