@using BookManagementWebApp.Dtos
@model BookDto

<h2>Add a book</h2>

@using (Html.BeginForm("Add", "Book", FormMethod.Post)) //action name, controller, method
{
    <div class="form-group">
        @Html.LabelFor(a => a.Id)
        @Html.TextBoxFor(a => a.Id, "", new {@class = "form-control"})
    </div>

    <div class="form-group">
        @Html.LabelFor(a => a.Name)
        @Html.TextBoxFor(a => a.Name, "", new {@class = "form-control"})
    </div>

    //turi buti AuthorId nurodytas cia
    <div class="form-group">
        @Html.LabelFor(a => a.AuthorId) 
        @Html.DropDownListFor(a => a.AuthorId, new SelectList(@Model.Author, "Id", "Name"), "", new {@class = "form-control"})
    </div>

    <input class="btn btn-primary" type="submit" value="Submit"/>
}